@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.orderDocumentsButton {
  color: #7b8ca8;
  background-color: transparent;
  padding: calc(0.75rem - 1px) calc(2.75rem - 1px);
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  border: 2px solid rgba(123, 140, 168, 0.35);
  cursor: pointer;
}

.orderDocumentsButton:hover {
  background: #7b8ca8;
  color: #ffffff;
}

.orderDocumentsRefreshButton {
  color: #7b8ca8;
  background-color: transparent;
  padding: 0.45rem 0.45rem 0.25rem 0.45rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  border: 2px solid rgba(123, 140, 168, 0.35);
  cursor: pointer;
  display: flex;
  place-items: center;
  height: 100%;
  transition: 200ms ease-out;
}

.orderDocumentsRefreshButton:hover {
  background: rgba(123, 140, 168, 0.35);
  color: #ffffff;
}

.orderDocumentsFlexContainer {
  display: flex;
  width: 100%;
  position: absolute;
}

.orderDocumentsList {
  list-style-type: none;
  min-width: 220px;
  max-width: 100%;
  overflow-y: auto;
  margin-top: 0;
  padding: 0;
}

.orderDocumentsListItem:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.orderDocumentsListItem {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  padding: 5px;
  animation: fadeIn ease 1s;
}

.orderDocumentsOuterWrapper {
  max-width: 60rem;
  width: 100%;
  margin: 1rem auto;
  background: white;
  border: 1px solid #e4e8ed;
  box-shadow: 8px 8px 2px #e4e8ed;
  border-radius: 4px;
}

.orderDocumentsInnerWrapper {
  padding: 0.5rem 3rem 3rem 3rem;
  margin-top: 2rem;
}

.orderDocumentsMarginTop {
  margin-top: 3rem;
}

.orderDocumentsNoTopMargin {
  margin-top: 0;
}

.orderDocumentsHr {
  border-top: 1px solid #ddd;
}

.orderDocumentsRule {
  border-top: 1px solid #ddd;
  margin-top: 1.25rem;
}

.orderDocumentsFlexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.orderDocumentsFlexEnd {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.orderDocumentsSelectWrapper {
  margin-bottom: 1rem;
  text-align: left;
  transition: 250ms ease-out;
  padding: 1rem 0.75rem 1rem 1rem;
  background: #f3f3f3;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  animation: fadeIn ease 0.5s;
}

.orderDocumentsFieldsSelect {
  width: 100%;
}

.orderDocumentsTooltip {
  margin-top: -0.25rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.orderDocumentsTooltipText {
  margin: 0.75rem;
  max-width: 16rem;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(153, 153, 153);
  padding: 1rem;
  border-radius: 0.25rem;
}

@media (max-width: 42rem) {
  .orderDocumentsFlexSpaceBetween {
    flex-direction: column-reverse;
  }

  .orderDocumentsSelectWrapper {
    width: 100%;
    max-width: 12.5rem;
  }
}

.orderDocumentsSubheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderDocumentsButtonWrapper {
  display: flex;
  justify-content: center;
}

.orderDocumentsSelectIconsSection {
  position: absolute;
  top: 0;
  right: 2px;
  width: 100%;
  padding: 10px 6px;
  list-style: none;
  font-size: 1rem;
  width: 100%;
  border-radius: 4px;
  color: #253858;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.33rem;
  pointer-events: none;
}

.orderDocumentsSelectIconsSeparator {
  display: inline-block;
  width: 1px;
  margin-left: 1px solid rgb(204, 204, 204);
  height: calc(2rem - 10px);
  translate: 0 -3px;
  background-color: rgb(204, 204, 204);
  box-sizing: border-box;
}

.orderDocumentsSelectOptionsList {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  border-radius: 4px;
  max-height: 12rem;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  background: #fff;
  z-index: 1;
}

.orderDocumentsSelectOptionsListOpen {
  border: 1px solid rgb(204, 204, 204);
}

.orderDocumentsSelectOptionsListItem {
  font-size: 1rem;
  border-bottom: none;
  list-style: none;
  cursor: pointer;
  transition: 200ms;
  background: #fff;
  color: #253858;
  padding: 8px 6px;
}

.orderDocumentsSelectOptionsListItemFirst,
.orderDocumentsSelectOptionsListItemLast {
  border-radius: 4px;
}

.orderDocumentsSelectOptionsListItemFirst {
  border-radius: 4px 4px 0 0;
}
.orderDocumentsSelectOptionsListItemLast {
  border-radius: 0 0 4px 4px;
}

.orderDocumentsSelectOptionsListItemSelected {
  background: #2684ff;
  color: #fff;
}

.orderDocumentsSelectOptionsListItem:hover {
  color: #253858;
  background: rgba(38, 132, 255, 0.08);
}

.orderDocumentsSelectOptionsListItem:focus {
  color: #253858;
  background: rgba(38, 132, 255, 0.08);
}

.orderDocumentsSelectInputWrapper {
  cursor: pointer;
  position: relative;
}

.orderDocumentsSelectInput {
  width: calc(100% - 14px);
  margin: 0;
  padding: 8px 6px;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
  list-style: none;
  font-size: 1rem;
  border-radius: 4px;
  color: #253858;
}

.orderDocumentsArrowIconWrapper svg {
  transition: 200ms;
  cursor: pointer;
  fill: rgb(204, 204, 204);
  translate: 0 -1px;
  pointer-events: all;
}

.orderDocumentsArrowIconWrapper svg:hover {
  fill: #253858;
}
